In [6]:
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import seaborn as sns

In [13]:
Location1 = r'/home/garner1/SparkleShare/RESTSEQ/EDA_progress_report/data/SKBR3_XZ1617'
df1 = pd.read_table(Location1, header=None)
Location1 = r'/home/garner1/SparkleShare/RESTSEQ/EDA_progress_report/data/SKBR3_XZ1617'
df1 = pd.read_table(Location1, header=None)
Location1 = r'/home/garner1/SparkleShare/RESTSEQ/EDA_progress_report/data/SKBR3_XZ1617'
df1 = pd.read_table(Location1, header=None)
Location1 = r'/home/garner1/SparkleShare/RESTSEQ/EDA_progress_report/data/SKBR3_XZ1617'
df1 = pd.read_table(Location1, header=None)

In [14]:
df

           0         1         2    3
0       chr1         0    100000    0
1       chr1    100000    200000    1
2       chr1    200000    300000    2
3       chr1    300000    400000    0
4       chr1    400000    500000    0
5       chr1    500000    600000    3
6       chr1    600000    700000    2
7       chr1    700000    800000    4
8       chr1    800000    900000    7
9       chr1    900000   1000000   12
10      chr1   1000000   1100000    1
11      chr1   1100000   1200000    3
12      chr1   1200000   1300000    1
13      chr1   1300000   1400000    5
14      chr1   1400000   1500000   10
15      chr1   1500000   1600000   11
16      chr1   1600000   1700000   10
17      chr1   1700000   1800000    7
18      chr1   1800000   1900000    7
19      chr1   1900000   2000000   11
20      chr1   2000000   2100000    5
21      chr1   2100000   2200000   20
22      chr1   2200000   2300000    8
23      chr1   2300000   2400000    6
24      chr1   2400000   2500000   15
25      chr1   2500000   2600000  308
26      chr1   2600000   2700000    0
27      chr1   2700000   2800000    2
28      chr1   2800000   2900000    3
29      chr1   2900000   3000000    4
...      ...       ...       ...  ...
30940  chr21  45200000  45300000    5
30941  chr21  45300000  45400000    7
30942  chr21  45400000  45500000    2
30943  chr21  45500000  45600000    9
30944  chr21  45600000  45700000   32
30945  chr21  45700000  45800000    3
30946  chr21  45800000  45900000    5
30947  chr21  45900000  46000000   21
30948  chr21  46000000  46100000    1
30949  chr21  46100000  46200000    4
30950  chr21  46200000  46300000  102
30951  chr21  46300000  46400000    1
30952  chr21  46400000  46500000   11
30953  chr21  46500000  46600000   24
30954  chr21  46600000  46700000    5
30955  chr21  46700000  46800000    4
30956  chr21  46800000  46900000    3
30957  chr21  46900000  47000000   10
30958  chr21  47000000  47100000    4
30959  chr21  47100000  47200000   18
30960  chr21  47200000  47300000    5
30961  chr21  47300000  47400000    1
30962  chr21  47400000  47500000    8
30963  chr21  47500000  47600000   14
30964  chr21  47600000  47700000    8
30965  chr21  47700000  47800000    7
30966  chr21  47800000  47900000   14
30967  chr21  47900000  48000000   21
30968  chr21  48000000  48100000  245
30969  chr21  48100000  48129895    1

[30970 rows x 4 columns]